{% extends "layout.html" %}

{% block body %}
<div class="container-fluid" style="background-color: rgba(75, 53, 53, 1); color: white; padding: 20px; border-radius: 0;">
    <h3 class="mb-3">Hakkımda</h3>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <h5>Lise:</h5>
            <p>Rize Anadolu İmam Hatip Lisesi</p>

            <h5>Üniversite:</h5>
            <p>Karadeniz Teknik Üniversitesi</p>

            <h5>Bölüm:</h5>
            <p>İstatistik ve Bilgisayar Bilimleri</p>

            <h5>Seminerler:</h5>
            <ul>
                <li>3. Sınıfta Karar Ağaçları hakkında seminer verdim.</li>
                <li>4. Sınıfta Kümeleme Algoritmaları hakkında seminer verdim.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h5>Tez:</h5>
            <p>K-means İle Müşteri Kişilik Analizi</p>

            <h5>Kurs:</h5>
            <p>Udemy (40+ Saat) Python | Sıfırdan İleri Seviye Programlama (2020)</p>

            <h5>Hedefler:</h5>
            <ul>
                <li>Birden fazla dil öğrenmek</li>
                <li>Yazılım Alanında En iyiler Arasına Girmek</li>
                <li>Görüntü İşleme Alanında Kendi Yazılım Şirketimi Kurmak</li>
                <li>Kendi oyunumu geliştirmek</li>
            </ul>
        </div>
    </div>

    <h5>Github:</h5>
    <p><a href="https://github.com/FarukBuyuk">https://github.com/FarukBuyuk</a></p>

    <h5>Yetenekler:</h5>
    <p>Python, HTML, SQL, Flask, Django, Web Geliştirme Gel, Ofis Programları, Qt, C, SPSS</p>

    <h5>Diller:</h5>
    <p>İngilizce (Başlangıç), Türkçe (Ana Dil)</p>

    <h5>İletişim:</h5>
    <p>Telefon: 0539 845 3611</p>
    <p>E-posta: farukbyk777@gmail.com</p>
    <p>Web: <a href="https://sites.google.com/view/farukbuyuk/">https://sites.google.com/view/farukbuyuk/</a></p>
    <p>Adres: Yenidoğan Sancaktepe / İstanbul</p>
</div>

{% endblock %}
